Geordi
======

Geordi is a daemon that collects sensor data from various sources, and stores them in a database for later evaluation.

It is written in Java and runs on any operating system.

Features
--------

* Collects data from different sensors.
* Cron-like expressions for collection frequency.
* Easily extensible.
* Collected data can be processed by analytic tools like [Grafana](https://grafana.com/).
* Uses [Postgresql](https://www.postgresql.org/) as database (requires version 9.3 or higher).
* Only requires Java 8 or higher at runtime.

Supported Sensors
-----------------

* [Homematic](./device/homematic.html) home automation devices
* [luftdaten.info](./device/dusty.html) particulates sensors
* [Aquaero](./device/aquaero.html) fan controllers

Open Source
-----------

_Geordi_ is open source software. The source code is distributed under the terms of [GNU General Public License V3](http://www.gnu.org/licenses/gpl-3.0.html).

Fork the [Source code at GitHub](https://github.com/shred/geordi). Feel free to send pull requests.

Found a bug? [File a bug report!](https://github.com/shred/geordi/issues)
